.icon-arrow-right { background-image: url('png/arrow-right.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-email-red { background-image: url('png/email-red.png'); background-repeat: no-repeat; }

.icon-fb-red { background-image: url('png/fb-red.png'); background-repeat: no-repeat; }

.icon-fb { background-image: url('png/fb.png'); background-repeat: no-repeat; }

.icon-heart { background-image: url('png/heart.png'); background-repeat: no-repeat; }

.icon-icon-menu { background-image: url('png/icon-menu.png'); background-repeat: no-repeat; }

.icon-icon-pandg-heart { background-image: url('png/icon-pandg-heart.png'); background-repeat: no-repeat; }

.icon-icon-pandg { background-image: url('png/icon-pandg.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-pandg { background-image: url('png/pandg.png'); background-repeat: no-repeat; }

.icon-red-arrow-down-01 { background-image: url('png/red-arrow-down-01.png'); background-repeat: no-repeat; }

.icon-red-arrow-down { background-image: url('png/red-arrow-down.png'); background-repeat: no-repeat; }

.icon-red-cross { background-image: url('png/red-cross.png'); background-repeat: no-repeat; }

.icon-twitter-red { background-image: url('png/twitter-red.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-vimeo { background-image: url('png/vimeo.png'); background-repeat: no-repeat; }

